@*@model NoteFormModel

<form asp-controller="Note" asp-action="Add" asp-route-businessId="@ViewBag.Business.BusinessId" method="POST">
    <div>
        <label asp-for="Details"></label>
        <span asp-validation-for="Details"></span>
        <textarea asp-for="Details" class="form-control" rows="3" cols="35"></textarea>
    </div>
    <button type="submit" class="btn btn-outline-primary">Add</button>
</form>*@