@*@model Business

<form asp-controller="CRM" asp-action="Update" asp-route-businessId="@ViewBag.Business.BusinessId" method="POST">
    <div>
        <input asp-for="Website" value="@ViewBag.Business.Website" class="form-control">
    </div>
    <button type="submit" class="btn btn-link">update</button>
</form>*@