@{
    ViewData["Title"] = "Register";
}

@model RegisterFormModel
    

 

<div class="container">
    <form asp-controller="User" asp-action="Registering" method="POST" class="registerForm">
        <h1 class="registerTitle">Register</h1>
        <div class="row">
            <div class="col">
                <label asp-for="FirstName" class="form-label"></label>
                <span asp-validation-for="FirstName" class="error"></span>
                <input asp-for="FirstName" class="form-control">
            </div>
            <div class="col">
                <label asp-for="LastName" class="form-label"></label>
                <span asp-validation-for="LastName" class="error"></span>
                <input asp-for="LastName" class="form-control">
            </div>
        </div>
        <div>
            <label asp-for="Email" class="form-label"></label>
            <span asp-validation-for="Email" class="error"></span>
            <input asp-for="Email" class="form-control" id="inputEmail">
        </div>
        <div>
            <label asp-for="Password" class="form-label"></label>
            <span asp-validation-for="Password" class="error"></span>
            <input asp-for="Password" class="form-control" id="inputPassword">
        </div>
        <div>
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="ConfirmPassword" class="error"></span>
            <input asp-for="ConfirmPassword" class="form-control" id="inputPW">
        </div>
        <div class="submit">
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </div>
    </form>
    <div class="LoginL">
        <a asp-controller="User" asp-action="Login">Already have an account? Sign In!</a>
    </div>
</div>